
/*------------cahmando font do google font------------------------*/
@import url(http://fonts.googleapis.com/css?family=Fira+Sans:300);
/*------------css imagen da tela de detalhe------------------------*/
#detalhe
{

position:fixed;
top: 0px;
width: 100%;
height: 28.5em;
left: 0px;
border:solid 1px;

  

}

/*-----------telefone-chamada de teclado tela de detalhe------------*/
img#telef
{
	margin-top: 7px;
	width: 4rem;
	height: 4rem;
}
 p#telef
 {
 	font-size: 15px;
 	margin-top:-33px;
 	margin-left: 40px;
 }
 /*------------css edereço da tela de detalhe-------------------*/
p#endereco-conteudo
{
	font-size: 15px;
	font-family: Arial,sans-serif;
    margin-left: 40px;
    margin-top: -33px;
}
img#img-endereco
{
	margin-top: -40px;
	width: 4rem;
	height: 4rem;
}
/*------------css da tela informações sobre Cabrália----------------*/
img#sobre
{
	width: 98%;
	height:220px;
  margin-left: 0.8%;
  border:solid  0.1px gray;
  margin-top: -3rem;

}
img#sobre-detalhe
{
position:absolute;
top: 0px;
width: 98%;
height: 207px;
margin-left: 0.8%;
border:solid 1px gray;
}
p#sobre
{
	font-family: Arial,sans-serif;
	font-size: 15px;
}
p#sobre-texto
{
	margin-top:210px;
	font-family: Arial,sans-serif;
	font-size: 15px;
  text-indent: 15px;
  padding: 5px;
}
/*------------css da descrição da tela de detalhe-------------------*/
span#texto
{
  width:95%;
  height: 230px;
  border-bottom:solid 1px gray;
  padding-bottom: 7px;
}
/*------------css da contato da tela de detalhe--------------------*/
span#contato
{
  width: ;
  height: 107px;
  padding-bottom: 7px;
}
/*------------css da telefone da tela de detalhe-------------------*/
li#telefone
{
	font-family: Arial,sans-serif;
    font-size: 12px;
    color: white;
    position: absolute;
	top: -20px;
	width: 250px;
	left: 10px;
	padding: 5px;
}

/*------------css da caixa da tela de detalhe-------------------*/
span#texto
{

font-family: Arial,sans-serif;
font-size: 17px;
position:absolute;
left: 0px;
top:16em;
width: 100%;
height: 100%;
background:#f0f0f0;
margin: 0px 0px 0px 0px;
padding: 0px;
z-index: 1px;
}

/*------------css nao uzando--------------------------------------*/
div#baixo
{
position: fixed;
background: black;
width: 100%;
height: 43px;
top:418px;
left: 0px;

}
div#home
{
position: fixed;
background: black;
width: 70px;
height: 42px;
top: 418px;
left: 120px;
}
div#home:hover
{
background:  #6a6565;
border:solid 1px white;
}
img#home
{
position: fixed;
width: 45px;
height: 33px;
top: 422px;
left: 135px;
}

/*----------css barra de titulo da tela de detalhe--------*/
#hdetalhe
{
background:#2196F3;
position: absolute;
top:em;
width: 100%;
height:60px;
color:#fff;
border-bottom:solid 1px white;
z-index:1;

}

h2#titulo
{
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
border: medium none;
margin: 0px;
color: white;
width: 100%;
text-indent: 70px;
line-height: 5rem;
list-style: outside none none;
font-size: 28px;
padding-top: 5px;

}
/*---------------------------------tela de eventos----------------*/
/*img new tela detalhe---------------*/

img#img-facebook
{
    position: absolute;
    margin-left:65%;
	width: 60px;
	height: 60px;
    margin-top: 2%;
}
p#facebook-conteudo
{
    position: absolute;
	font-size: 15px;
	font-family: Arial,sans-serif;
    margin-left: 66%;
    margin-top: 19%;
}


img#img-telefone-new
{
    position: absolute;
    margin-left: 12%;
	margin-top: 1%;
	width: 60px;
	height: 60px;
}
 p#telefone-new
 { 
    position: absolute;
 	font-size: 15px;
 	margin-top: 19%;
 	margin-left: 13%;
 }


img#img-site
{
    position: absolute;
	margin-top: 27%;
	width: 60px;
	height: 60px;
    margin-left: 12%;
}
p#site-conteudo
{
    position: absolute;
	font-size: 15px;
	font-family: Arial,sans-serif;
    margin-left: 13%;
    margin-top: 44%;
}

img#img-endereco-new
{
    margin-left: 65%;
    position: absolute;
	margin-top: 27%;
	width: 60px;
	height: 60px;
}

p#endereco-conteudo-new
{
    position: absolute;
	font-size: 15px;
	font-family: Arial,sans-serif;
    margin-left: 69%;
    margin-top: 44.8%;
}

div#texto-new
{
  width:95%;
  height: 162px;
  padding-bottom: 7px;
}

/*div-------------------------------contato*/
#box
{
    background:;
    width: 80%;
    height:55%;
}

.contato
{
    width: 95px;
    height: 30px;
    margin-left:0px;
    background-color: rgba(255, 157, 0, 0.99);
    border-bottom: solid 1px rgba(255, 157, 0, 0.99);
}

.box-contato
{
    margin-top:3px;
    width: 100%;
    height: 31px;
    border-bottom: solid 1px rgba(255, 157, 0, 0.99);
    margin-left: 0px;
    
}
.text-contato
{
    color:white;
    font-family: Arial;
    font-size: 18px;
    margin-left: 6px;
    margin-top: 0px;
    border: solid 3px rgba(255, 157, 0, 0.99) ;
    
    
}

form#texto-new
{
padding: 10px 2px 2px 2px;
font-family: Arial,sans-serif;
font-size: 17px;
position:absolute;
left: 0px;
top:190px;
width: 98.6%;
height: 340px;
background:white;
margin: 0px 0px 0px 0px;
}
/*---------------------ICONS DE TELA DE PONTOS------------------*/
#img-youtube-video
{
width:3.8rem;
height: 3.8rem;
margin-left: 0.6rem;
}

#img-endereco
{
margin-right: 0.6rem;
}

.icons-tela-detalhe
{

bottom: 0px;
position: absolute;
width: 96%;
height:5rem;
background:;
text-align: center;
}

.span-tel
{
    width: 70px;
    height: 70px;
    border-radius:100%;
    bottom: 7px;
    right: 7px;
    position: absolute;
    background: #4caf50;
    z-index: 4;
    position: fixed;
}
